beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
cssselect==1.1.0
DateTime==4.3
et-xmlfile==1.0.1
GetOldTweets3==0.0.11
idna==2.9
jdcal==1.4.1
lxml==4.6.2
numpy==1.18.2
openpyxl==3.0.3
pandas==1.0.3
pip==19.2.3
pyodbc==4.0.30
pyquery==1.4.1
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
selenium==3.141.0
setuptools==41.2.0
six==1.14.0
soupsieve==2.0
urllib3==1.25.8
zope.interface==5.1.0
